.cart {
    align-items: center;
    display: flex;

    .delete {
        background: violet;
        width: auto;
    }
    
    img {
        max-width: 50%;
    }
    div {
        width: 50%;
    }
}