<div class="container">
    <app-header></app-header>
    <app-product-search (search)="showProducts('title', $event)"></app-product-search>
    <br>
    <app-product-categories (category)="showProducts('categoryId', $event)"></app-product-categories>
    <app-product-carousel></app-product-carousel>

    <body>
        <div class="item" *ngFor="let item of products" #valueItem (click)="selectItem(item.title)">
            <img src="{{ item.images[0] }}" alt="">
            <span>{{ item.title }}</span>
            <p>{{ item.description }}</p>
            <span>$ {{ item.price }}</span>
        </div>
    </body>
</div>