app-product-carousel {
    text-align: -webkit-center;
}

.subtitle {
    color: gray;
    text-align: center;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .item {
        border: 1px solid green;
        cursor: pointer;
        margin: 10px 20px;
        padding: 8px;
        text-align: -webkit-center;
        width: 200px;
        img {
            width: 100%;
        }
        span {
            font-size: 1rem;
            align-content: center;
            font-weight: 600;
            width: 200px;
        }
        p {
            font-size: 0.875rem;
            width: 200px;
        }
    }
    
}
