.carousel-container {
  cursor: pointer;
  display: flex;
  height: 300px;
  margin-top: 32px;
  overflow-x: auto;
  width: 90%;
  div{
    margin: 0 20px;
  }

  img {
    height: 200px;
    width: 200px;
  }
}